<% provide(:title, 'About') %>
<h1>About</h1>
<hr>
<h2>Kalindar</h2>
<p> When you ask someone what their strengths are, most people won't say organization. Be it keeping an agenda, or just knowing when your assignments are due, is just too much for university students. At Desirous, we intend on fixing this with our application called Kalindar. Kalindar provides a simple and reliable solution for students calendaring needs. All of today's calendar applications still require you to be on top of your information, inputting it in to their systems when you get it. Kalindar sources all of the information from students in all your classes and gets your scholastic information for you! No longer will students need to rely on their professor to post deadlines online or exam dates. Kalindar will make sure students never miss an assignment, date, or deadline.</p>
<hr>
<h2>The Kalindar Team</h2>
<h3>Andy</h3>
<p>SOmething about andy</p>
<h3>Daniel</h3>
<p>something about dan</p>
<h3>Jacob</h3>
<p>something about jacob</p>
<hr>
<h2>Desirous</h2>
<p>Something about desirous</p>