<h1>Day View</h1>
<h2 id="day">
    <%= link_to "<", date: @date.yesterday %>
    <%= @date.strftime("%d %B %Y") %>
    <%= link_to ">", date: @date.tomorrow %>
</h2>
<% date = @date %>
<% if @events_by_date[date] %>
  <ul>
    <% @events_by_date[date].each do |event| %>
      <li><%= link_to event.course.course_code + ' ' + event.name, event.course %></li>
    <% end %>
  </ul>
<% end %>