<h1>New course</h1>
<form class="navbar-search pull-left">
  <input type="text" class="search-query" placeholder="Search"><a class="btn" href="#"><i class="icon-search"></i> Search</a>
</form>
<br>

<%= render 'form' %>

<%= link_to 'Back', courses_path %>
