/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.datepicker
 *= require bootstrap
 *= require_tree .
*/

html {
  	overflow-y: scroll;
}

body {
  	padding-top: 60px;
    background: url(/assets/agsquare.png) repeat;
}

section {
  	overflow: auto;
}

textarea {
  	resize: vertical;
}

.alert {
	margin-top: 10px;
}

.logo {
  /*margin-right: 10px;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;*/
  max-height: 30px;
}
.fb {
  max-height: 30px;
}

/* home page */
#tagline {
  color: #064A78;
  text-transform: uppercase;
  text-shadow: 2px 2px #ff6666;
}
#phrase {
  color: #0F5D91;
}

.signup {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: #3B3131;
  color: #000;
}

/* Add event overlay */

#overlay {
  position:fixed; 
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  opacity:0.5;
  filter:alpha(opacity=50);
  display: none;
}

#modal {
  position:absolute;
  top: 15;
  left: 15;
  background:url(tint20.png) 0 0 repeat;
  background:rgba(0,0,0,0.2);
  border-radius:14px;
  padding:8px;
  display: none;
  z-index: 1000;
}

#content {
  border-radius:8px;
  background:#fff;
  padding:20px;
}

#close {
  position:absolute;
  background:url(/assets/close.png) 0 0 no-repeat;
  width:24px;
  height:27px;
  display:block;
  text-indent:-9999px;
  top:-7px;
  right:-7px;
}


/* ad */
#ad {
  width: 80%;
  margin: 0 auto;
  background-color: #666;
}
/* footer */

footer {
  margin: 0 auto;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  width: 90%;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}