<footer class="footer">
  <small>
    <a href="http://kalindar.com/">Kalindar</a>
    by Desirous Technologies
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   static_pages_about_path %></li>
      <li><%= link_to "Contact", static_pages_contact_path %></li>
      <li><%= link_to "Help", static_pages_help_path %></li>
    </ul>
  </nav>
</footer>